{% extends "base.html" %}

{% block content %}
	<table style="width:100%">
		<tbody>
			<tr>
				<th title="Encryption">
					<a href="/encryption">
						<img src="/static/Project_icons/Encryption_icon.png" width="100">
					</a>
					<br>
					Symetric Encryption
				</th>
				<th rowspan="2">
					Hi, I'm Jonathan Holbrook and this is my Web application,<br> <br>jonathanholbrook dot co dot uk<br>
					<img src="/static/Project_icons/Face_icon.png" width="100"><br>
					Thank you for stopping by, why don't you stay a while and look around. 
				</th>
				<th title="Simplex Algo">
					<a href="/linear-programming">
						<img src="/static/Project_icons/Simplex_icon.png" width="100">
					</a>
					<br>
					Simplex Algorithm
				</th>
			</tr>
			<tr>
				<th>
					<img src="/static/Project_icons/Trefoils_icon.png" width="100"><br>
					Trefoil drawer
				</th>
				<th>
					<a href="/unicycle">
						<img src="/static/Project_icons/Unicycle_icon.png" width="100"><br>
					</a>
					Unicycle
				</th>
			</tr>
			<tr>
				<th>
					<img src="/static/Project_icons/Face_icon.png">
				</th>
				<th>
					<img src="/static/Project_icons/Face_icon.png">
				</th>
				<th>
					<img src="/static/Project_icons/Face_icon.png">
				</th>
			</tr>
            <tr>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
            </tr>
            <tr>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
            </tr>
            <tr>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
            </tr>
            <tr>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
            </tr>
			<tr>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
            </tr>
            <tr>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
            </tr>
            <tr>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
            </tr>
            <tr>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
                <th>
                    <img src="/static/Project_icons/Face_icon.png">
                </th>
            </tr>
		</tbody>
	</table>
	<a href="/remote-light">remote light</a>
{% endblock %}